<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_writers_LinkedIdentity</key>
	<array>
		<string>tsp</string>
	</array>
	<key>_writers_UserCertificate</key>
	<array>
		<string>tsp</string>
	</array>
	<key>_writers_hint</key>
	<array>
		<string>tsp</string>
	</array>
	<key>_writers_jpegphoto</key>
	<array>
		<string>tsp</string>
	</array>
	<key>_writers_passwd</key>
	<array>
		<string>tsp</string>
	</array>
	<key>_writers_picture</key>
	<array>
		<string>tsp</string>
	</array>
	<key>_writers_realname</key>
	<array>
		<string>tsp</string>
	</array>
	<key>authentication_authority</key>
	<array>
		<string>;ShadowHash;</string>
		<string>;Kerberosv5;;tsp@LKDC:SHA1.14D1C72E337196346D71031D0FC5FB3675FC588F;LKDC:SHA1.14D1C72E337196346D71031D0FC5FB3675FC588F;</string>
	</array>
	<key>generateduid</key>
	<array>
		<string>128EF9CE-564C-4BA8-B190-07AD22E6AF33</string>
	</array>
	<key>gid</key>
	<array>
		<string>20</string>
	</array>
	<key>hint</key>
	<array/>
	<key>home</key>
	<array>
		<string>/Users/tsp</string>
	</array>
	<key>jpegphoto</key>
	<array>
		<data>
		/9j/4AAQSkZJRgABAQAAAQABAAD/4gI4SUNDX1BST0ZJTEUAAQEAAAIoQURC
		RQIQAABtbnRyUkdCIFhZWiAHzwAGAAMAAAAAAABhY3NwQVBQTAAAAABub25l
		AAAAAAAAAAAAAAAAAQAAAAAA9tYAAQAAAADTLUFEQkUAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApjcHJ0AAAA/AAA
		ADJkZXNjAAABMAAAAGR3dHB0AAABlAAAABRia3B0AAABqAAAABRyVFJDAAAB
		vAAAAA5nVFJDAAABzAAAAA5iVFJDAAAB3AAAAA5yWFlaAAAB7AAAABRnWFla
		AAACAAAAABRiWFlaAAACFAAAABR0ZXh0AAAAAENvcHlyaWdodCAxOTk5IEFk
		b2JlIFN5c3RlbXMgSW5jb3Jwb3JhdGVkAAAAZGVzYwAAAAAAAAAKQXBwbGUg
		UkdCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAA
		AADzUQABAAAAARbMWFlaIAAAAAAAAAAAAAAAAAAAAABjdXJ2AAAAAAAAAAEB
		zQAAY3VydgAAAAAAAAABAc0AAGN1cnYAAAAAAAAAAQHNAABYWVogAAAAAAAA
		eb0AAEFSAAAEuVhZWiAAAAAAAABW+AAArC8AAB0DWFlaIAAAAAAAACYiAAAS
		fwAAsXD/4QBARXhpZgAATU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqAC
		AAQAAAABAAAAMKADAAQAAAABAAAAMAAAAAD/2wBDAAEBAQEBAQEBAQEBAQEB
		AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
		AQEBAQH/2wBDAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
		AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/wAARCAAwADADAREAAhEB
		AxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgED
		AwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAk
		M2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZn
		aGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5
		usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEA
		AwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQA
		AQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl
		8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3
		eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbH
		yMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD+
		/gkAEk4A5JPQDuSaAPENe+LbS3b6X4Ks49UdWeNtbuI7iewlkjJWUaPYWuy5
		1tYmV0e9+0afpAdSI9SmIK159fMIQk4UYqtO9m1K0FLtdX5muqXnrc6qWFlO
		0pvkg721XNL0vp63162Pz0+M/wDwUu/ZB+C2qXuh/GX9uD4XeFPElvN5N74V
		0Pxhaa5rulXAIhktrnRfhfoniK+010kVjNaanq81/buxE0kQURr57zGv1qw7
		SUIc9rb6xhPV6ro7qxvGjh4J86Unb4uey0et4uSaa/w+fvIv/BT/AIKRfslf
		G7UbLRfgp+218LvGPiO6kMNn4V1nxba6TrmqTs6QxwWuhfErRfDWp6lMzlfJ
		tNL1mK9uC4MXnlgKqnmcr2nXg5OdkpwdNWa0TlKFOPNfazd3dWumEqVCp8EG
		r2s4NON+7ScpJNO7dku+x+hOg/E+ZLtdN8ZafHpUjPHGms2wmj04STPshTVb
		K63XmiGUsipdSS3uku7BP7TRyqH0qOLjUajNOE9N1ZO+2vd3Wnmu5z1cNKHN
		KPvQXW92tt9LNptrQ9irsOY+e/i94wke7PgyyvIbCygshqfi7Up7j7Law2Lx
		TzwabeXYdDa6ebS2udW8QTCSNhpFstpvEeoyFfKzPEypw9jTlyzmrzknZxp6
		rR30lJ9WrKKk7nbg6UZS9pUV4xvZPVOS7rqtV6vfqfwb/wDBSz/grx8Y/wBs
		j4n69+zV+x3r/ifwh+zXaX994UXVfB93N4e8c/tN32mu9nrPinxBr9pJbX3h
		P4KxNFNF4a8L2F1YW2s6JCus+J5LiC9ttLs4yPIs34izLBZDkOWVszzPMKkq
		eGwdCKc5e66lSrWnV5aVHD0YRdavWrSjQoU4uVSScbvlzTNMJgMLWxmMxMcJ
		gcOr1a020rt2jGCjec5VJPkpwhF1Ks3aMUj4O8F/sU2dvYifx140ls5CrNd6
		f4KsNOtNMtG2kNHP4i1cia8ki3OGuEiEUrBjjPJ/rXIvooYChgI4/jji+rh6
		3Jz4jD5FDC0Muwjun7KWcZpywqzSspzpUaVK+sVb3pfjeO8V8VWxawvD+TKv
		KX8FYz29fGYhrRShgcHCpUjzX+FuctUpauxt+JP2MtO+wte+AvGr6hcIBLaa
		d43sNPubC6YKqrFbeJNJzJY3EhRPKuJEMSZUkEgsOfiH6KGEr4CWM4H4uq16
		sk5UMNntPC18vxekpKlDN8p5o0JyfNGFWdCtSbcVJJNtaZf4s4jD4x4TiHJV
		RnF2rvBOvSxmHd7uVTAYyEKkorrFOEnY/TT/AIJmf8Faviv+y/8AETRP2Zf2
		u9a1/wAR/s/Xeo2XhS18ReNb2bWvHH7Oup6my2ekapaa7ePcXniz4LXbyQQa
		5oepT30OhaRMureHbhbG1n0qX+R8zyvNuFM1xeRcQYHE5Zj8vqKni8BXh++w
		7fvQrUpwlKFbDVaclUpVaM6lDEUWq2Hk+b3v2jLswwWZYWjjsDiIYvDYmN6V
		aLbjNcz5o1E7ShUhJOE4VEqlOek9N/7gvhd4mnS5l8H6jOs6RWpv/DV2J/tK
		TadGIPtWmxXO5xdwWKXVneaTcLJL5+iX9qokkNnJI3sYSs6kXGbXPFu396O6
		ku67bd7WaJxFKMGpwvyzvp2a0at0u7u2yPwv/wCC43x5174N/sB/tGa94c1N
		tK8W/G/xtovwE0fVLWaaC6s9E+IOtajpfiuawl2mdLpvhp4N1fSd0DK0C61c
		TxEOsbHw8XUTxFfmfv8AOqe11GMYuWqas1LlUX0959zrtyYWCjZOUdZJu/7x
		rS7fVNNdvvP5DP2SvDGh+Dvhb4q+MGqW6GfVX1mG3liRBJbeCvBw8iLS7AkI
		bZdX1GJrm5QMjSlYEY4hjA/s7wIwmS+H/hXxZ4vZ7BzUcHneOq14e9iqXDvD
		NObnl2EnJrlq5vmdGaqKLXt7YSMr+yin+M8Q5Xn3iH4icJ+GXDqUswzzOcly
		PL4VH+4/triLF0sLQxeJivip4ChV9o+sYwqtcrk2dp8Cf2cv2gf+CgXjHxI2
		h63pHhvwh4SNm3iDxD4ln1GPwf4W/tV7j+xvDmiaPpkE9xrPiC7gguZorS3g
		jla2tnvNV1O2ja2V/wDD76Xv04J5VjMNxN4o4/O87xuf4nGS4O8OeHa8YYDL
		MtwfL7SdDC4mvRy7LsvwEKuHw2LznGxr5hj8XUtGniqiqun/AL88LcE+CP0M
		uEMlyDhjhqlmnEuMw7hj+JFgsvxPGXF+Pw0aUM0z3M87x0Z1sqyeeLahl2V4
		OrSw1GEoUKOGq1YYitHK+PX7Pv7Qf/BPbx54aTXdX0jxD4S8YLfT6Brnhq61
		CXwV4wg0yW3i1zRdU0vU7eC70bxBYxz2zXEFzatcW8F3FeaZqN7bi6VfQ+h3
		9Nx5viMVxP4X5hnmU4jIcXgo8aeG/EddSwWY4HGKbpPE4TC4itl2OwePpUsR
		Ry7O8F7HHYHFUmqlPDTdONeuLOBPBD6Z/BGdZDxHw7QyvifB0FSy7if6hgcN
		xnwfmOI9qsqzrA5xgqcKma5M8UpQx+UYypWwuKowr0sRhsPiHQrFr9prw9pH
		i74a+EPi5pkTEwHRrOedlHn33gzxlblobK+KHM02i6huEBkc+WZJEQnaVP8A
		tR9IfL8l458NeD/FzJKPJKeGyWvCrNJYnEcN8UYeOJwmFxsqcpuWIyvHzjSS
		cpRw8quJpp25j/AnhPB5zwHx/wAXeGWfqMMfk2b57kuY0Kcr4eln3DeOq4HG
		V8LzO/sMdRoutBqyqU/Y1Xur/wBif/BGj48678a/2Cf2Y/GPiHVGv/Gfww1r
		Wfgj4j1S8dnuNQt/hrr3/CJ6RNdSlh59zN8Ptf061kldpfNl02zkkLyxFh/H
		mWVZRVFXvyVJ0JNXSULRlS5lduTUJKKu9OW2x+w1rzoz+1FqMov0coy+blG/
		m5NK+iPmb/g4J+G1/wCMP+Ce/j/UbS0u5ZvgZ+0X4B+JGrwQhJHh8NSeIfE3
		gbVdRnRHObW3tvH/AIfvpWypt47kTSKqrK0WeL92viEt41E5X/llFuN35ycU
		tddUKSc8PCST+GF9dLp+80rv+9p0vfVo/l4/Z+EXjf8AZn1n4eWcsaazo8/i
		7wxLDIwTy7rUpm1zw5PIF8yRbfUVkQCRt29leP53Vq/tHw2ymh4qfRl4s8OM
		HiKcM3lguKOHV7WbpxpZjj5vOuH6tVxfNHDYqv7Cm5qKjJwrU7v2cmvzLJ+L
		X4S/SC8PvFHE4edfA8OcUcLcU1oU4e0nWy/LMVSw2cU6UXFqVanhfbzpw95p
		unJJuSPfv+Ccf7cngf8AZHm+JPww+NmjeIrPwh421yw10+I9B0ttW1bwn4r0
		bT7rQtQ03XtBFza315o+o6e0UDTaW8mo6ZqFok0dvc2l681r/wAzv0xvou8c
		+J+Z5NmXDscNl/HfAcMx4ZzrhPiKtLKHicO8fDFuOHxdajOjg80y/MIYiXss
		fGng8dhK1vrEKtCnCv8A9APi54e/8RkyrhTj7w3zbK87y/GZNz5TU+uU1gM+
		4fzGpHHYHF5fj4c+Hhi6LrVaeMwmJlSlTk5UZyo4ihyTqf8ABRz9tjwn+2Nr
		Hwu+GHwR0PxBf+EPBWr6nqVvrWu6WNM1rxl4v8Q2lppFvDpOjGe4u9N0PTNN
		geKJ9SkW/wBRu55rq6tbW2so5bnt+hl9Fvjbwxx2dYrPYUM08QPEB5Vw7lHC
		3DteWarB4ShjKmJhRrYqlThRxuZ4/H1aU6rwkXgcuwdF2xVSdaosO/CjgKl4
		LZHxd4h+JGc5XkOCwWT+3zfEvGxeW5DkGWueLxVfHYxuFKtj8RUjClg8JhnV
		qVZRp4eg62JxHJHzj9oAQ+A/2dvCfw7mu45dWv5/B/hqFlKuJf8AhHY/7W8R
		3qKBua0s7jy1EoUqd6R5BLZ/6UPFfA0vDP6OXB/hxisTSr5osFwzw3+6mpxx
		NbJKSzTP8Xh+flm8JTx/7qnPluo1qcLqUlf/AJ/MRxPPxU8e/EPxOo4arhMH
		xJxNxXxZGjVXLUw2Fz3HThlGFrJXUcQsB7NV4Xf7yFSd2np/VH/wQo+GOqeE
		f+CdnwQbXbO7kvPjP8XfiD8VtPspoxDJ/wAI74h8a2tho97sJDG3utE8Ialr
		Mbn/AFltC0iKylS38b5XTcuR30nialRW6RpU4RbTvqnKDvLvfqj9RrO1Kbst
		Eldq6blJytbZaNaPp3uz9ev2mfhB4W8b6N4z0HxxoS+JPhd8YfCmqfD/AOJO
		htu8q5s9e0uTQbmN2BH2ZtW06eOKwvdyfZdf0/TXE0Vxc27jtzLCuUliIW5X
		H2VdLSTTkuWafeLdm+mjs91jhKqcXRk/5pQbfSStOPfWyaSd3qux/nn/ALTH
		7K/x1/4Ja/tEXnhbxDY3Pi74V+KXuR8NPiLJFLb+EPjd4AhuJJ9LtbjVEjNt
		4e+LHhGBhaeINBudmoWmpRTX0FtdaDqMcknv+HHiPnfhlxA83yuMMZgsXFYX
		OMnrVKlLC5tgIVeeMY1Ywk6GMw0pOeDxkadSWHqynTlGpQq1ac/C4n4XwnEm
		B+p4qU6GIpTlVwWNjHmqYWrJWd4NpVaNWNo16LklOKjOLVSEWrM3jH9lr4zL
		DqPiq7sNB8RrEouoPFL33g/xGPKAX7PdatYBrDW7eMFkt7syTiVDlNuTj+l+
		Iqv0W/Hd4fNuNaGByziKFGEKmKzSvjOFuIqVOMYwjQxec5bU+p5zSoxio0JY
		ipjFThFKn7OTlBc3ht4tfSb+j1TxOV+GvFOa4bh6vXqYn+w6WHwPFHClTE1Z
		Oc8Xh8gzujiKWW4ms/erywtLC1JyTdSczRsfGv7LvwVS4vfBk2na/wCJZbZk
		iXwvLf8AivxBKLhVLWcWv6liy0OykCqtxJDJECvzSeYwUEyLGfRd8CI4jMeB
		8Nl+Z8RVKU6VPE5NWxfE3EVaNSEoToQz3NKjwuT4acXy4j6vUwqnC6qUqsrR
		c+I3iv8ASa+kOsLl/ifxbm+K4fw2IhiaeR16OB4b4UoYig7Qxk+G8ko4bD5h
		jKbcpUK2Ko4mtGTXJUgrtdL+yF+yX8af+CpX7RENiNPvfC/wQ8GTWtt8V/iP
		YxSN4X+GPgoXEVzdeCPDeqSxi28RfFnxpHiz07T7My3VvLcnXNXitdJsooZP
		5i8QOPM98T+InnmbcmFoYeEsLlOV0Kk6mEyXLXN1HSg5qLr4uvN+1xmKlCNT
		F11FRVKhSpU6Pbw3w7geGsv+pYXmr1KlX2uNxVSLjVxuI5XHma5moU4R9ylS
		UnGjSbu5zlOc/wDQc+Avw70Hw7Y+HbTwvolv4d+H/wANfDeneBPh3odoCLGw
		07RNMt9BtrexJwZrbQdJsxpCXjFzd6ld65cFnZjI/m4ChyRU+XljyRhSV2+W
		EfXW76uSUm7t7tv18VVvamt1rN677pJ3s0r+b0V2fS15Z2uoWtxY31vDd2d3
		DJBc21wiywzwyqVkjljcFWR1JBBH616LSaaauno09U090+9zj8z40+OX7Lnh
		T4m+Dtd+HvjbwD4Z+NPwn8Rktq/w/wDG+m2Ws+U4H7m5thfvC8t9ZE79N13T
		dQ0nxRp7LE0V/cXES3deHicqvJyoWcGv4Dbi4yvrKlPmXI2m7vSS6Ss2j0aW
		NurVruX/AD81kmltzx1cn6aO2qufz/8Axd/4N7/2LNevL2+8GfET9oL9nn7V
		cJ5fhu8udK8d+FNOkfEktppifEWw0rXkgEbIkKyeK9YESsqR3s+11Hl1cBUt
		LmjXpx5m7zpe1jqnpGXPBWSu0m5eb0V+heyqu9OSle/27WdtHyvmto99HfW3
		fR+C3/Bv7+xT4Zu9PvvGHjj49/tHmynaR/DUdxp3gjwdqc8bLILfVLb4a2d9
		rUtu6qY5YD4y0eKXDpLexFwpVLK3zKUY16iaauqcaUL2vrJtyktdVGUXrbq7
		EnShfnnHRXtztr5RSgm9lduWvS+39Afwb/Zv0DwD4S0DwF4W8D+Gfg78KfC6
		tFofw68E6dYaLbiNt3nH7No5+zabJfli2qarNdap4m1UvO1xqNpPNJcS+7h8
		v5OV1LRUVdU4PRyet5t6yafVtyk9ZSehx1sVfSm5Nta1JaS6OyjaytbyXk7t
		n1zbW1vZW8FpaQRW1rawx29tbwRrFDBBCgjihijQBI440VURFAVVAAGBXqbb
		HEf/2Q==
		</data>
	</array>
	<key>name</key>
	<array>
		<string>tsp</string>
	</array>
	<key>passwd</key>
	<array>
		<string>********</string>
	</array>
	<key>picture</key>
	<array>
		<string>/Library/User Pictures/Animals/Dragonfly.tif</string>
	</array>
	<key>realname</key>
	<array>
		<string>tsp</string>
	</array>
	<key>shell</key>
	<array>
		<string>/bin/bash</string>
	</array>
	<key>uid</key>
	<array>
		<string>502</string>
	</array>
</dict>
</plist>
